/*Thanks to:
BadWolf#8885 on Discord!*/

/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

#disabled {
    height: 100%;
    float: right;
    right: 45%;
}

div.content {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
}

div.bgimg {
    height: 100.1%;
    width: 100.1%;
    position: fixed;
    top: -0.5%;
    left: -0.5%;
    bottom: -0.5%;
    right: -0.5%;
    z-index: -1;

    background-image: url('backgrounds/background.png');

    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);

    opacity: 1.0;
    -webkit-transition: background 5s linear;
    -moz-transition: background 5s linear;
    -o-transition: background 5s linear;
    -ms-transition: background 5s linear;
    transition: background 5s linear;
}

::selection {
    background: rgba(0,0,0,0);
}

select {
    z-index: 1005;
    position: absolute;
    width: 20%;
    border: none;
    overflow-y: auto;
    background-color: rgba(255,255,255,.25);
    padding: 5px;
}

option {
    color: white;
}

button {
    width: 25%;
}

#enabled {
    float: left;
    height: 100%;
}

div.mod-info {
    color: white;
    float: right;
    right: 1.5%;
    width: 43.0%;
    height: 100vh;
    overflow-y: auto;
}

div.buttons {
    line-height: 2em;
    height: 100px;
    /*min-width: 470px;*/
    position: absolute;
    top: 0;
    bottom: 75%;
    left: 0;
    right: 45%;

    margin: auto;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



@font-face {
    font-family: 'Roboto';
    src: format('woff'), url('Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*For video backgrounds, uncomment these:*/

/*Shamelessly taken from: https://gist.github.com/Xavka/aa17950686787a8ab03b#file-video-css*/

.fullscreen-bg {
    filter: blur(4px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url('backgrounds/background.png');
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg__video {
        display: none;
    }
}

/*video {
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
}*/